@import url('https://fonts.googleapis.com/css2?=Poppins:wght@0,400;0,500;0,600,700&display=swap');



*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}



a{
    color: #fff;
}

html{
    font-size: 62.5%;
    /* overflow: hidden; */
}

body{
    background: #08141F;
    color: #fff;

    
    
  

}

.header{
    background: rgb(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo{
    font-size: 2.2rem;
    font-weight: 600;
    color: aqua;
}

.menu-bar a{
    font-size: 1.5rem;
    margin-left: 3.5rem;
    transition: 0.4s ease;
}

.menu-bar a:hover{
    color: aqua;
}

#menu-btn{
    font-size: 3rem;
    display: none;

}

.pera{
    font-size: 1.5rem;
    
}

.project-2{
    font-size: 3rem;
    text-decoration: underline;
    margin-bottom: 10px;
   
}





 


section{
    padding: 10rem 10%;
    min-height: 100vh;
  }

/* home section */
   .home{
    display: flex;
    align-items: center;
    justify-content: center;
    /* max-height: 100vh;
    overflow-y: auto; */
   }

   .home-bio{
    font-size: 2.5rem;
   }

   span{
    color: aqua;
   }

   .home-bio h1{
    font-size: 3.5rem;
    line-height: 1.4;
   }

   .home-bio p{
    font-size: 1.5rm;
    padding: 1rem 0;
   }

   .profile-pic img{
    width: 30vw;
    border-radius: 50%;
    animation: float 5s ease-in-out infinite;
   }

   @keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translate(-2.5rem);
    }
    100%{
        transform: translateY(0);
    }
   }

   .social-media a{
    width: 3.8rem;
    height: 3.8rem;
    font-size: 2.2rem;
    margin: 1rem 1rem 2rem 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: 0.4s ease;
   }

   .social-media a:hover{
    color: aqua;
    box-shadow: 0 0 1rem aqua;
   }

   .btn{
    display: inline-block;
    background: aqua;
    margin: 2rem 0;
    padding: 1rem 2.5rem;
    border-radius: 1.3rem;
    color: #000;
    font-weight: 600;
    transition: 0.5s ease;
   }

   #downloadBtn{
    display: inline-block;
    background: aqua;
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    border-radius: 1.3rem;
    color: #000;
    font-weight: 600;
    transition: 0.5s ease;
   }

   #downloadBtn:hover{
    color: aqua;
    background: #000;
    border-radius: 0 0 1rem aqua;
   }

   .btn:hover{
    color: aqua;
    background: #000;
    border-radius: 0 0 1rem aqua;
   }

   #downloadBtn{
    font-size: 1.5rem;
    padding: 8px 40px;
   }
   .btn1{
    text-decoration: none;
    border: none;
    background: none;
   }

   .text1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    padding-bottom: 10px;

   }

   .text2{
    font-size: 3rem;
   }

/* about section */
 .about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

   
    
 }

 /* #about{
    max-height: 100vh;
    overflow-y: auto;
 } */

 

 .heading{
    font-size: 3.3rem;;
    text-align: center;
    margin: 4rem 0;

    

 }

 .about-items{
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 3rem;
 }

 .about-resume{
    font-size: 1.8rem;

 }

 .about-text p{
    font-size: 1.8rem;

 }

.about .btn{
    width: 180px;
}

#dwnload{
    font-size: 2rem;
   
    margin-right: 10px;
}

/* skills section */

.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* max-height: 100vh;
    overflow-y: auto; */
}

.skills-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
}

.skills-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.skills-card:hover{
    border-radius: 1rem solid;
    transform: scale(1.05);
}

.skills-card .bx{

    font-size: 8rem;
    transition: 0.4s ease;
   
}

.skills-card .bx:hover{
    color: aqua;
}

.skills-card h3{
    font-size: 2.5rem;
    font-weight: 200;
}

.skills-card p{
    text-align: center;
    font-size: 1.3rem;
    opacity: 0.5;
}

.project{
    overflow: auto;
    height: auto;
}

.links1{
    display: flex;
    gap: 10px;
}

.project1:hover{
    color: aqua;
    box-shadow: 0 0 1rem aqua;
}
.links2{
    border: 2px solid aqua;
    margin-top: 8px;
    border-radius: 1.5rem;
    width: 200px;
    text-align: center;
}

.links2:hover{
    color: aqua;
    box-shadow: 0 0 1rem aqua;

}





  
  





/*  project section*/


.hidden-content {
    display: none; /* Hide the content by default */

    color: #fff;
  }





.card-text{
    margin-bottom: 30px;
    padding-bottom: 30px;

    font-size: 2rem;
   
}

.project1{
    width: 250px;
    border: 2px solid aqua;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 1.5rem;
    font-size: 2rem;

}
.project1:hover{
    color: aqua;
}

#message{
    width: 250px;
    height: 100px;
}


/* .project{
    max-height: 100vh;
    overflow-y: auto;
    
} */

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

   
    
    
  }

  .links{
    margin-top: 10px;
    margin-bottom: 5px;
  }

  #chef-live{
    font-size: 1.5rem;
  }

  #chef-server{
    font-size: 1.5rem;
  }

  
  
  .card-row {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
  }
  
  .card-column {
    flex-basis: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
  
  .card {
    background-color: #000;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  .card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .link {
    display: block;
    margin-top: 10px;
  }
  
  /* Mobile responsiveness */
  @media screen and (max-width: 600px) {
    .card-column {
      flex-basis: calc(50% - 10px);
    }
  }
  



/* contact section */

.button{
    display: inline-block;
    background: aqua;
    margin: 2rem 0;
    padding: 1rem 2.5rem;
    border-radius: 1.3rem;
    color: #000;
    font-weight: 600;
    transition: 0.5s ease;
}

.button:hover{
    color: aqua;
    background: #000;
    border-radius: 0 0 1rem aqua;
}





form{
    display: grid;
    
    row-gap: 1rem;
    

}

form input, textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    resize: none;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* max-height: 100vh;
    overflow-y: auto; */
}




.footer{
    padding: 2rem 10%;
    text-align: center;
    font-size: 1rem;
    max-height: 100vh;
    overflow-y: auto;
}

hr{
    margin: 1rem;
    border-bottom: thin solid #fff;
}

@media(max-width:1200px){

    html{
        font-size: 60%;
    }

}
@media(max-width:992px){

    .header{
        padding: 2rem 4%;
    }
    .home img{
        width: 40vw;
    }

}
@media(max-width:767px){
    #menu-btn{
        display: block;
    }

    .menu-bar{
        width: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        background: rgba(0, 0, 0, 0.9);
        display: none;
    }

    .menu-bar.active{
        display: block;
    }

    .menu-bar a{
        display: block;
        margin: 2rem;
        font-size: 2rem;
    }

    .home, .about-items{
        flex-direction: column;
    }

    .home img{
        width: 80vw;
    }

    .heading{
        font-size: 3rem;
    }

    .skills-items{
        grid-template-columns: repeat(2,1fr);
    }

}
@media(max-width:620px){
    .skills-items{
        grid-template-columns: repeat(1,1fr);
    }

    .projects-items{
        grid-template-columns: repeat(1,1fr);
    }

    .heading{
        font-size: 2.7rem;
    }

}
@media(max-width:450px){

    html{
        font-size: 50%;
    }

}



